#header {
  background-image: linear-gradient(40deg,#4c1f82,#8c1d82 14%,#cf022b 50%,#ffb15c);
}

.branding-color {
  background: linear-gradient(40deg,#4c1f82,#8c1d82 14%,#cf022b 50%,#ffb15c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
