<div id="header" class="min-h-96">
  <div class="flex justify-center">
    <div class="mt-32 flex flex-col items-center">
      <span class="text-6xl font-bold text-white text-center">Advent Of Code</span>
      <span class="text-xl bg-white px-6 py-3 skew-x-12 inline-block mt-4"><span class="-skew-x-12 inline-block">ToTheRoot Edition</span></span>
    </div>
  </div>
</div>

<div class="-mt-10 flex justify-center mb-20 mx-4 lg:mx-0">
  <div class="max-w-screen-lg bg-white p-6 rounded shadow-2xl w-full">
    <router-outlet/>
  </div>
</div>
