<h2 class="text-2xl mt-8">Join</h2>

<p class="mt-2">Ready to join the challenge and battle the other contestants with your coding skills?</p>

<button class="fancy-button" (click)="showModal = true">Let's go!</button>


<div class="fixed left-0 top-0 h-full w-full flex justify-center items-center" *ngIf="showModal">
  <div class="bg-black opacity-30 w-full h-full" (click)="closeModal()"></div>

  <div class="absolute mx-2 lg:mx-0 lg:w-2/5 bg-white p-4">
    <div class="p-4">
      <h1 class="text-black text-2xl">Join the challenge</h1>

      <div class="mt-4">
        <div *ngIf="joinFlowStep == JoinFlowSteps.Rules">
          <p>When participating the following rules must be followed. Breaking these rules excludes you from winning prices.</p>

          <ul class="list-decimal list-inside mt-4 pl-4">
            <li>Do not use answers/solutions from the internet</li>
            <li class="mt-2">Do not use AI generated solutions</li>
            <li class="mt-2">Do not cheat in any other way</li>
          </ul>

          <p class="mt-4"><input type="checkbox" [(ngModel)]="agreeToRules"><span class="ml-2" (click)="agreeToRules = !agreeToRules">I will follow these rules</span></p>

          <button class="fancy-button" [disabled]="!agreeToRules" (click)="joinFlowStep = JoinFlowSteps.ParticipateForPricesQuestion">Confirm</button>
        </div>

        <div *ngIf="joinFlowStep == JoinFlowSteps.ParticipateForPricesQuestion">
          <p>Do you want to receive <span class="font-bold">a price</span> if you finish in the top 5?</p>

          <div class="mt-4">
            <button class="fancy-button" (click)="joinFlowStep = JoinFlowSteps.ParticipateEmailQuestion">Yes</button>
            <button class="btn" (click)="joinFlowStep = JoinFlowSteps.ParticipateJoinCode">No</button>
          </div>
        </div>

        <div *ngIf="joinFlowStep == JoinFlowSteps.ParticipateEmailQuestion">
          <p>Please enter your AoC username and e-mail. This will only be used to contact you if you are eligible for choosing a price.</p>

          <p class="mt-2 text-red-400" *ngIf="errorMessage">{{errorMessage}}</p>

          <form [formGroup]="registerForm">
            <div class="mt-4 ">
              <p class="font-bold text-sm">AoC Username</p>
              <input type="text" class="mt-1 w-full px-4 py-2 border border-gray-200 rounded" placeholder="Advent Of Code username" formControlName="username"/>
            </div>

            <div class="mt-2">
              <p class="font-bold text-sm">Email</p>
              <input type="email" class="mt-1 w-full px-4 py-2 border border-gray-200 rounded" placeholder="Email" formControlName="email"/>
            </div>
          </form>

          <button class="fancy-button" [disabled]="registerForm.invalid" (click)="registerContestant()">Confirm</button>
        </div>

        <div *ngIf="joinFlowStep == JoinFlowSteps.ParticipateJoinCode">
          <p>You can join by following these steps:</p>

          <ul class="list-decimal list-inside mt-4 pl-4">
            <li>Login on AoC <a class="underline text-blue-500" target="_blank" href="https://adventofcode.com/2024/auth/login">https://adventofcode.com/2024/auth/login</a> (opens in new tab)</li>
            <li class="mt-2">Open <a class="underline text-blue-500" target="_blank" href="https://adventofcode.com/2024/leaderboard/private">https://adventofcode.com/2024/leaderboard/private</a> (opens in new tab)</li>
            <li class="mt-2">Enter <input type="text" class="bg-gray-100 px-2 py-1 rounded" [style.width]="'160px'" disabled value="2299315-d1ab6b3e"/> as join code</li>
          </ul>

          <button class="fancy-button" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>

    <p></p>
  </div>
</div>
